<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<h1>About This Website:</h1>

<p>This is a basic password generator site.</p>
<p>Choose the length you want your password to be (the default is 12).</p>
<p>Then, choose whether you want to add uppercase, numbers and/or special characters to your password.</p>
<p>Finally, click the generate password button to get your unique password.</p>

<h3>This was created by Toni Zinnamon.  Enjoy!!</h3>
<br>

<a href='{% url "home" %}'class='btn btn-primary'>Home</a>